body {
    background-color: #282c34;
    color: white;
    padding: 40px;
    font-family: Arial;
    text-align: center;
    overflow: none;
    overflow-y: hidden;
}

.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.header {
    color: rgb(0, 200, 161);
}

/* .chart-container {
    width: 100%;
    height: 100%;
}

#chart {
    width: 100%;
    height: 100%;
} */